.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imgContainer {
    flex: 1;
    position: relative;
}

.title {
    color: var(--btn);
}

.subTitle {
    font-size: 54px;
}

.desc {
    font-style: 30px;
    font-weight: 300;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes h1 {
    color: var(--btn);
}